// colors

$gray: #dddddd;

// spacing

$spacing: 1.4rem;

// font sizes
$base-font-size: 1.6rem;

// form inputs

$input-border: $gray;

// boxed view
$boxed-view-overlay-bg: $gray;
$boxed-view-bg: white;
$boxed-view-margin-btm: $spacing;
