// colors
$brand-primary: #5b4681;
$gray: #dddddd;
$light-gray: #f9f9f9;
$dark-gray: #777777;

// spacing
$site-max-width: 50rem;
$spacing: 1.4rem;

// font sizes
$base-font-size: 1.6rem;

// form inputs

$input-border: $gray;
$input-spacing: 1rem;

// boxed view
$boxed-view-overlay-bg: $gray;
$boxed-view-bg: white;
$boxed-view-margin-btm: $spacing;

// buttons

$button-bg-color: $brand-primary;
$button-txt-color: white;
$button-pill-color: $brand-primary;
$button-secondary-bg: $light-gray;
$button-secondary-color: $dark-gray;
$button-secondary-border: $gray;

// item

$item-bg: $light-gray;
$item-border: darken($item-bg, 8%);
$item-text-color: $dark-gray;
