.button {
  background-color: $button-bg-color;
  border: none;
  color: $button-txt-color;
  cursor: pointer;
  line-height: 1.2;
  padding: $input-spacing;
  font-size: $base-font-size;
  margin-bottom: $spacing;
  text-transform: uppercase;
}

.button--link {
  display: inline-block;;
  text-decoration: none;
}

.button--pill {
  background-color: transparent;
  border: 1px solid $button-pill-color;
  color: $button-pill-color;
  margin: 0 ($spacing / 2) 0 0;
  padding: .3rem .8rem
}

.button--secondary {
  border: 1px solid $button-secondary-border;
  background: $button-secondary-bg;
  color: $button-secondary-color;
}
